[submodule "phy"]
	path = phy
	url = https://github.com/LBHB/phy.git
[submodule "KiloSort"]
	path = KiloSort3
	url = https://github.com/LBHB/KiloSort.git
[submodule "npy-matlab"]
	path = npy-matlab
	url = https://github.com/LBHB/npy-matlab.git
[submodule "sortingQuality"]
	path = sortingQuality
	url = https://github.com/LBHB/sortingQuality.git
[submodule "Kilosort2"]
	path = KiloSort2
	url = https://github.com/LBHB/Kilosort2.git
[submodule "phy-plugins"]
	path = phy-plugins
	url = git@github.com:LBHB/phy-plugins.git
[submodule "KiloSort2pt5"]
	path = KiloSort2pt5
	url = https://github.com/LBHB/Kilosort2.git
[submodule "phylib"]
	path = phylib
	url = https://github.com/LBHB/phylib.git
[submodule "BaphyKiloSort"]
	path = BaphyKiloSort
	url = ./BaphyKiloSort/
